{% extends 'music/base.html' %}
{% block title %}Album Details{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row content" >
      <div class="col-xs-6 col-md-3" style="z-index: 1;" >
        <div class="thumbnail" style="max-height: 600px; max-width: 250px;">
          <img src="{{ album.alb_logo }}" alt="{{ album.albm_title }}">
          <div class="caption">
                <h3>{{ album.albm_title }} &nbsp; <span style="color: rgba(24,16,21,0.45)">{{ album.gener }}</span></h3>
                <h4>{{ album.artist }}</h4>
          </div>
        </div>
      </div>

    <div class="col-sm-9" style="margin-bottom: 10px;">
        <button class="btn btn-primary" type="button">View All</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">Add New Song</a>
    </div>

    <div class="container col-sm-9" style="background: white">
      <h2>All song</h2>
    {#  <p>The .table-responsive class creates a responsive table which will scroll horizontally on small devices (under 768px). When viewing on anything larger than 768px wide, there is no difference:</p>#}
      <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Audio File</th>
            <th>Favorite</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        {% for song in album.song_set.all %}
          <tr>
            <td>1</td>
            <td>{{ song.song_title  }}</td>
            <td><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-play"></span>&nbsp;Play</button></td>
            <td>
                {% if song.is_favorite %}
                    <a href="#" ><span class="glyphicon glyphicon-star"></span></a>
                {% else %}
                    <a href="#"><span class="glyphicon glyphicon-star-empty "></span></a>
                {% endif %}</td>
            <td><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;Delete</button></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
    </div>
</div>
{% endblock %}