{% extends 'music/base.html' %}

{% block body %}
    <div class="row" style="margin-left: 10px; margin-right: 10px;">
        {% for album in all_albums %}
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="{{ album.alb_logo }}" alt="Album Cover">
              <div class="caption">
                <h3>{{ album.albm_title }}</h3>
                  <h5><strong>{{ album.artist }}</strong></h5>
                <p>
                    <a href="{% url 'music:detail' album.id %}" class="btn btn-primary" role="button">View Details</a>
                        <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span></button>
                    <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star-empty"></span></button>
                </a>
                </p>
              </div>
            </div>
          </div>
    {% endfor %}
    </div>
{% endblock %}