<html>
    <head>
        <title>Welcome!</title>

        <!---Loads the path to your static files--->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    </head>

    <body>
        {% if all_albums %}
            <h3>Here are all my Albums</h3>
            <ul>
                {% for album in all_albums %}
                    <li><a href="{% url 'music:detail' album.id %}">{{ album.albm_title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <h3>You don't have any albums</h3>
        {% endif %}
    </body>
</html>